/* 
 * Markdow样式自定义
 * @XF
 * 2019年4月30日
*/

/* 全局默认字体和颜色 */
body{
    background: #fff;
    color: #2e2f3e;
    font-size: 16px!important;
    font-family: 'Microsoft YaHei UI'!important;
    line-height: 1.8!important;
}

body pre code div {
    background: #1e1e1e;
    color: #a9b7c7;
    border-radius: 10px;
    padding: 5px 0;
    font-family: 'Source Code Pro',Consolas, 'Courier New', monospace;
    font-size: 16px;
    line-height: 24px; 
}

body a {
    color: #3794ff!important;
}

body h1, body h2, body h3 {
    font-weight: 600;
}
body strong>code {
    background: linear-gradient(to right,#fce4ed,#ffe8cc);
    font-size: 90%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

